@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Icon */
  .icon,
  .icon-outline {
    @apply inline-block text-2xl not-italic font-normal leading-none tracking-normal normal-case align-middle whitespace-nowrap;
    word-wrap: normal;
    direction: ltr;
  }
  .icon {
    font-family: "Material Icons Round";
  }
  .icon-outline {
    font-family: "Material Icons Outlined";
  }
}
